<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <testimonials>
            <general>
                <enable>1</enable>
                <display_text>Testimonials</display_text>
            </general>
        </testimonials>
        <email>
            <recipient_email>
                <![CDATA[user@exemple.com]]>
            </recipient_email>
            <sender_email_identity>custom</sender_email_identity>
            <email_template>margo_testimonials_email_template</email_template>
        </email>
    </default>
</config>