<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_testimonials_success">
        <observer name="testimonials_observer" instance="Margo\Testimonials\Observer\TestimonialsObserver"/>
    </event>
</config>